<div class="card">
    <img class="card-img-top" src="~/lib/images/avatars/avatar2.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Order Complete</h5>
        <p class="card-text">@ViewBag.CheckoutCompleteMessage</p>
        <p class="card-text"><small class="text-muted">We hope to see you again soon!</small></p>
    </div>
</div> 
