<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/rotary-691528_1920.jpg);">
    <div class="bradcumbContent">
        <p>Get in touch...</p>
        <h2>Contact us</h2>
    </div>
</section>
<br />
<div class="col-12 col-lg-6" style="margin: 0 auto">
    <div class="accordions mb-100" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel single-accordion">
            <h6>
                <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Any questions?
                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                </a>
            </h6>
            <div id="collapseOne" class="accordion-content collapse">
                <p>
                    If you have any questions, please get in touch. Click below to send us an email.
                    <email address="info.musicstore.mk@gmail.com" content="Contact us"></email>
                </p>
            </div>
        </div>
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn oneMusic-btn btn-2 m-2">Home <i class="fa fa-angle-double-right"></i></a>


</div>

