@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <p><a asp-action="Index" asp-controller="ShoppingCart"><span class="icon-shopping-cart"></span> <span class="quantity">@Model.ShoppingCart.ShoppingCartItems.Count</span></a></p>

}