<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/49d84db11df886c2.jpg);">
    <div class="bradcumbContent">
        <p>Haha I fooled you...</p>
        <h2>There is no sexy music!</h2>
    </div>
</section>

<br />

<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/images/c0f7672e76b9[1].jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>Cramming For College</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/music/CrammingForCollege.mp3">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
